<h1>Posts#edit</h1>

<%= form_for :post, url: update_post_path, method: :put do |f| %>

  <p>
    <%= f.label :published %>
    <%= f.text_field :published %>
  </p>

  <p>
    <%= f.label :icon %><br>
    <%= f.text_field :icon %>
  </p>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :entry %><br>
    <%= f.text_area :entry %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to "Delete this post", delete_post_path %>
